{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card p-4 shadow-sm">
            <h2 class="text-center mb-4">S'inscrire</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100">Créer mon compte</button>
                <p class="text-center mt-3" >Déjà un compte ? <a href="{% url 'login' %}">Connectez-vous ici</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}